#map {
    height: 670px;
    width: 100%;
    border-radius: 16px;
    position: relative;
    /* Ajoutez cette ligne */
}

#my-location {
    height: 30px;
    width: 30px;
}

#button-location {
    margin-top: 15px;
}