/* styles.css */

/* Style du paragraphe contenant les informations de localisation */
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 20px;
  }
  
  /* Style des éléments d'information de localisation */
  span {
    font-weight: bold;
  }

  h1{
    margin-bottom: 200px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }

  h2{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    size: 20px;
  }
  
  /* Style du bouton "Get My Location" */
  #get-location {
    background-color: #007bff; /* Bleu */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;
  }
  
  /* Style pour le message d'erreur */
  .error-message {
    color: red;
    font-style: italic;
  }
  