body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: center
}

@media (max-width: 950px) {
    #main {
        flex-direction: column;
    }
    #roulette{
        max-width: 80vw;
        max-height: 80vw;
    }
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 60px);
}

h1 {
    font-size: 2.5em;
    color: #333;
}

h2{
    margin-top: 40px;
}

#roulette-container {
    position: relative;
    margin: 20px auto;
}

#roulette {
    border: 5px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 60vh;
    width: 60vh;
}

#spinButton {
    background: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    height: 40px;
}

#spinButton:hover {
    background: #ff4500;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

#restaurantList {
    list-style: none;
    padding: 0;
}

#restaurantList li {
    margin: 5px 0;
}

/* Ajout pour la popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-content #result {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.popup-content .qr-code {
    margin-top: 10px;
    margin-bottom: 20px;
}

.popup-close {
    background: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

.popup-close:hover {
    background: #ff4500;
}
